@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reservation online</h1>
    <p class="lead">This application is used to make reservations at hotels. Please select one of the following options.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Display all hotels</h2>
        <p>Click here to display the list of hotels</p>
        <p><a class="btn btn-default" href="~/Hotel/ListHotels">All hotels</a></p>
    </div>
    <div class="col-md-4">
        <h2>Advanced search</h2>
        <p>Click here to make an advanced search</p>
        <p><a class="btn btn-default" href="~/Hotel/SearchHotel">Advanced search</a></p>
    </div>
</div>